@font-face {
    font-family: 'Mapo';
    src: url('./fonts/MapoFlowerIsland.ttf') format('truetype');
  }

.input-wrapper {
    background-color: white;
    width: 30vw;
    height: 2.5rem;
    min-width: 250px;
    border-radius: 50px;
    padding: 0 15px;
    display: flex;
    align-items: center;
    margin-top: 2.5vh;
}

#search-icon {
    color: black;
    flex-shrink: 0;
}

input {
    background-color: transparent;
    border: none;
    height: 100%;
    font-size: 1.25rem;
    margin-left: 5px;
    font-family: 'Mapo';
    flex-grow: 1;
}

input::placeholder {
    font-family: 'Mapo';
}

input:focus {
    outline: none;
}
