@font-face {
    font-family: 'Mapo';
    src: url('/src/components/fonts/MapoFlowerIsland.ttf') format('truetype');
  }

html, body {
    height: 100%; /* Ensure the body takes full height */
    margin: 0; /* Remove default margin */
    display: flex;
    align-items: center; /* Center content vertically */
    justify-content: center; /* Center content horizontally */
}

.testbook-container {
    display: flex;
    flex-direction: column;
    align-items: center;
    font-family: Arial, sans-serif;
    justify-content: center; /* Center items vertically */
}

.testbook-container p {
    font-size: 1.5vw;
}

.battle-container {
    display: flex;
    justify-content: space-around; /* Center items horizontally */
    align-items: center; /* Center items vertically */
    width: 100%;
    margin-top: 4vh;
    gap: 13vw; /* Space between images */
}

.test-option {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center; /* Center items vertically within the box */
    cursor: pointer;
    padding: 0.6vw;
    border: 1px solid #ddd;
    border-radius: 5px;
    transition: background-color 0.3s;
}

.test-option:hover {
    background-color: #ffffff;
}

.test-image {
    width: 20vw; /* Adjust size as needed */
    height: auto;
    border-radius: 8px;
    box-shadow: black;
    object-fit: cover;
    max-height: 50vh;
    overflow: hidden;
}

.test-name {
    margin-top: 10px;
    font-size: 1.5vw;
    text-align: center;
}

.result-field {
    margin-top: 20px;
    font-size: 14px;
}

.battle-number {
    margin-top: 10px;
    font-size: 16px;
    font-weight: bold;
}

.result-container {
    display: flex;
    justify-content: space-between;
    align-items: center;
    width: 100%;
    margin-top: 4vh;
    gap: 13vw;
    font-family: 'Mapo';
}

.top-ranked-item {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center; /* Center items vertically within the box */
    padding: 0.6vw;
    border: 1px solid #ddd;
    border-radius: 5px;
    transition: background-color 0.3s;
    background-color: white;
    font-family: 'Mapo';
}

.ranking-list-container {
    width: 10vw;
    height: 40vh;
    flex-direction: column;
    align-items: center;
    justify-content: center; /* Center items vertically within the box */
    padding-top: 2vw;
    padding-left: 4vw;
    padding-right: 4vw;
    padding-bottom: 2vw;
    border: 1px solid #ddd;
    border-radius: 8px;
    transition: background-color 0.3s;
    background-color: #A80839;
    overflow-y: scroll;
}

.ranking-title {
    font-size: 1.8vw;
    font-weight: bold;
    margin-bottom: 3vh;
    text-align: center;
    color: #d7d393;
}

.ranking-list {
    margin: 0;
    padding: 0;
    list-style-type: decimal; /* Use decimal numbers for ordered list */
    font-size: 1.2vw; /* Adjust font size as needed */
    color: white;
}

.ranking-list li {
    margin: 5px 0; /* Space between list items */
    text-align: left; /* Align text to the left */
}