/* HomeButton.css */
.retry-button {
    position: relative;
    top: 78vh; /* Distance from the top edge */
    left: 40vw; /* Distance from the left edge */
    width: auto;
    font-size: 1.3vw; /* Adjusted font size for better visibility */
    color: black; /* Text color */
    background: none; /* No background */
    border: none; /* No border */
    border-color: transparent;
    padding: 0; /* No padding */
    cursor: pointer; /* Cursor to indicate it's clickable */
    z-index: 10; /* Ensure it's on top of other elements */
    text-align: center; /* Center align text */
    line-height: 30px; /* Center text vertically */
    border-radius: 5px; /* Optional rounded corners */
    box-sizing: border-box; /* Include padding and border in the element's total width and height */
    transition: color 0.3s, text-shadow 0.3s; /* Smooth transition */
  }
  
  .retry-button:hover {
    color: #000000; /* Change text color on hover */
    text-shadow: 0 0 8px rgba(0, 0, 0, 0.8), 0 0 15px rgba(0, 0, 0, 0.8); /* Glowing effect */
}
  