.search-bar-container {
  display: flex;
  flex-direction: column;
  align-items: center;
  min-width: 200px;
}

.background {
  width: 90vw; /* 화면 너비의 90% */
  height: 90vh; /* 화면 높이의 90% */
  background-color: rgba(255, 255, 255, 0.8); /* 흰색 배경에 투명도 적용 */
  display: flex;
  flex-direction: column;
  justify-content: top;
  align-items: center;
  border-radius: 10px; /* 둥근 모서리 */
  overflow-y: auto;
}

